body {
  overflow: hidden;
  font-family: "Pretendard Variable";
  margin: 0;
  padding: 0;
}

#titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 10vh;
}

#titleContainer > h1 {
  font-size: 5vh;
}

#seatContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 2.5vh 4.5vw;
  width: 100vw;
  height: 65vh;
  transition-duration: 1s;
}

#teacherContainer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.seatContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5vh;
  color: black;
  border-radius: 5px;
  width: 10vw;
  height: 6vh;
  border: 1px solid #222;
  margin-top: 1.9vh;
  margin-bottom: 1.9vh;
}

#teacher {
  font-weight: 700;
  background-color: #eee;
  border: 1px solid #999;
}

#studentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 100%;
  height: 50vh;
}

.seatColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 13vw;
}

#controlContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 3vh 5.5vw;
  background-color: #ececec;
  border-top: 1px solid #999;
  line-height: 200%;
  width: 100vw;
  height: 25vh;
}

#controlExplanation {
  font-weight: 400;
}

#controlLight {
  font-size: 2vh;
}

#controlLight.red {
  color: #f42c2c;
}

#controlLight.yellow {
  color: #ebb428;
}

#controlLight.gray {
  color: #888888;
}

#controlLight.green {
  color: #3abd47;
}

#controlText {
  margin-left: 0.5vw;
  font-size: 2vh;
  font-weight: 700;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#controlButtons {
  display: flex;
  flex-direction: row;
}

.nextButton {
  font-size: 2vh;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 700;
}

#nextBtn.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: default;
}

#random {
  margin-right: 1vw;
}

.hidden {
  display: none;
}

.names {
  cursor: pointer;
}

.names:hover {
  text-decoration: underline;
}

.nameBlue {
  color: #126cad;
}

#overlayContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  color: #222;
  font-size: 3vh;
  font-weight: 400;
}

#fightContainer {
  position: fixed;
  top: 0;
  left: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition-duration: 0s;
}

#fightContainer.show {
  transition-duration: 0.5s;
  left: 0vw;
}

#fightContainer.hide {
  opacity: 0;
}

#fightContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 100vw;
  height: 60vh;
  margin-bottom: 15vh;
}

.fightLine {
  width: 100vw;
  height: 0.5vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  background: linear-gradient(to right, #da5ff9, #458fff);
}

#fightContent {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#fightSeat {
  font-size: 3vh;
  margin-bottom: 1vh;
}

#fightStudent {
  font-size: 5vh;
}

.fightName {
  cursor: pointer;
  text-decoration: none;
}

.fightName:hover {
  text-decoration: underline;
}
